@model Bidster.Models.Events.EventDetailsViewModel

@{
    ViewBag.Title = Model.Event.Name;
}

@section Jumbotron
{
    <div class="jumbotron">
        <div class="container">
            <h1>@Model.Event.Name</h1>

            <h3>@Model.Event.StartOn.ToString("ddd, MMM d, h:mm tt") - @Model.Event.EndOn.ToString("ddd, MMM d, yyyy, h:mm tt")</h3>
        </div>
    </div>
}

@if (Model.CanUserEdit)
{
    <div class="mb-2">
        <a asp-action="Edit" asp-route-id="@Model.Event.Id" class="btn btn-outline-secondary">Edit</a>
        <a asp-action="Create" asp-controller="Products" asp-route-evtSlug="@Model.Event.Slug" class="btn btn-success">New Product</a>
        
        <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reports <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
                <a asp-action="WinningBids" asp-route-slug="@Model.Event.Slug" class="dropdown-item">Winning Bids</a>
                <a asp-action="AllBids" asp-route-slug="@Model.Event.Slug" class="dropdown-item">View All Bids</a>
            </div>
        </div>

        <a asp-action="Index" asp-controller="EventUsers" asp-route-evtSlug="@Model.Event.Slug" class="btn btn-link">Event Users</a>
    </div>
}

<partial name="_EventTimeStatus" model="@Model.Event" />

<h3>Items for Sale</h3>

<div class="row products">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <a asp-action="Details" asp-controller="Products" asp-route-evtSlug="@Model.Event.Slug" asp-route-slug="@product.Slug">
                    @if (!string.IsNullOrEmpty(product.ThumbnailUrl))
                    {
                        <img class="card-img-top" width="100%" height="225" src="@product.ThumbnailUrl" alt="@product.Name" />
                    }
                    else
                    {
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%" /><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                    }
                </a>
                <div class="card-body">
                    <h5 class="card-heading">
                        <a asp-action="Details" asp-controller="Products" asp-route-evtSlug="@Model.Event.Slug" asp-route-slug="@product.Slug">@product.Name</a>
                    </h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <span>
                            <b>@product.CurrentBidAmount.ToString("c2")</b>
                            <small>(@product.BidCount bids)</small>
                        </span>
                        <div class="btn-group">
                            @*<button type="button" class="btn btn-sm btn-outline-secondary">View</button>*@
                            @if (Model.CanUserEdit)
                            {
                                <a asp-action="Edit" asp-controller="Products" asp-route-evtSlug="@Model.Event.Slug" asp-route-id="@product.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>