@model Bidster.Models.Events.EventDetailsViewModel

@{
    ViewBag.Title = Model.Event.Name;
}

@if (Model.CanUserEdit)
{
    <p>
        <a asp-action="Edit" asp-route-id="@Model.Event.Id" class="btn btn-default">Edit</a>
        <a asp-action="Create" asp-controller="Products" asp-route-evtSlug="@Model.Event.Slug" class="btn btn-success">New Product</a>
    </p>
}

<partial name="_EventTimeStatus" model="@Model.Event" />

<h3>Items</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Current Price</th>
            <th>Bid Count</th>
            <th>Min Bid Amount</th>
            <td></td>
        </tr>
    </thead>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Products" asp-route-evtSlug="@Model.Event.Slug" asp-route-slug="@product.Slug">@product.Name</a>
            </td>
            <td>@product.CurrentBidAmount.ToString("c2")</td>
            <td>@product.BidCount</td>
            <td>@product.MinimumBidAmount.ToString("c2")</td>
            <td>
                @if (Model.CanUserEdit)
                {
                    <a asp-action="Edit" asp-controller="Products" asp-route-evtSlug="@Model.Event.Slug" asp-route-id="@product.Id">Edit</a>
                }
            </td>
        </tr>
    }
</table>