@model Bidster.Models.Events.WinningBidsReportViewModel

@{
    ViewBag.Title = $"{Model.Event.Name} - Winning bids";
}

<p>
    <a asp-action="Details" asp-route-slug="@Model.Event.Slug" class="btn btn-default">Back to Event</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Product</th>
            <th>Bid time</th>
            <th>Amount</th>
            <th>Bidder</th>
        </tr>
    </thead>
    @foreach(var bid in Model.WinningBids)
    {
        <tr>
            <td>
                <strong>@bid.ProductName</strong>
            </td>
            <td>@bid.BidTimestamp.ToString("g")</td>
            <td>@bid.BidAmount.ToString("c2")</td>
            <td>@bid.UserName</td>
        </tr>
    }
</table>