@model Bidster.Models.Products.ProductDetailsViewModel

@{
    ViewBag.PreHeading = Model.Event.Name;
    ViewBag.Title = Model.Product.Name;
}

@if (Model.CanUserEdit)
{
    <p>
        <a asp-action="Edit" asp-route-evtSlug="@Model.Event.Slug" asp-route-id="@Model.Product.Id" class="btn btn-default">Edit</a>
    </p>
}

<p class="description">
    @if (!string.IsNullOrEmpty(Model.Product.ImageUrl))
    {
        <!-- TODO: Show resized image -->
        <img src="@Model.Product.ImageUrl" class="pull-right img-thumbnail" width="400" />
    }

    @Model.Product.Description

    <hr />
</p>

@*<partial name="_EventTimeStatus" model="@Model.Event" />*@

@if (Model.Event.IsBiddingOpen)
{
    <h3>
        @Model.Product.CurrentBidAmount.ToString("c2")        
        <small>Current Bid</small>
    </h3>
    <div class="row">
        <div class="col-md-6">

            <form asp-controller="Bids" asp-action="Create" method="post" class="form-inline">
                <input type="hidden" name="ProductId" value="@Model.Product.Id" />

                <div class="form-group">
                    <label for="bid-amount" class="sr-only">Bid Amount</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" id="bid-amount" name="Amount" class="form-control" placeholder="@Model.Product.NextMinBidAmount" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Place Bid</button>
                        </span>
                    </div>
                </div>

                <br />

                <span class="text-muted">Bid must be <strong>@Model.Product.NextMinBidAmount.ToString("c2")</strong> or greater.</span>
            </form>
        </div>
    </div>
}

@if (Model.Product.HasBids)
{
    <h3>Bid History</h3>

    @if (Model.Event.HideBidderNames && Model.CanUserEdit)
    {
        <div class="alert alert-info">
            Bidder names are hidden to public and only visible to event admins.
        </div>
    }

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Time</th>
                <th>Bidder</th>
            </tr>
        </thead>
        @foreach (var bid in Model.Bids)
        {
            <tr>
                <td>@bid.Amount.ToString("c2")</td>
                <td>@bid.Timestamp.ToString("g")</td>
                <td>
                    @if (!Model.Event.HideBidderNames || Model.CanUserEdit)
                    {
                        @bid.UserName
                    }
                    else if (Model.Event.HideBidderNames)
                    {
                        <em>Bidder names private</em>
                    }
                </td>
            </tr>
        }
    </table>
}

