@model Bidster.Models.Products.ProductDetailsViewModel

@{
    ViewBag.PreHeading = Model.Event.Name;
    ViewBag.Title = Model.Product.Name;
}

@if (Model.CanUserEdit)
{
    <p>
        <a asp-action="Edit" asp-route-evtSlug="@Model.Event.Slug" asp-route-id="@Model.Product.Id" class="btn btn-outline-secondary">Edit</a>
    </p>
}

<p class="description clearfix">
    @if (!string.IsNullOrEmpty(Model.Product.ImageUrl))
    {
        <!-- TODO: Show resized image -->
        <img src="@Model.Product.ImageUrl" class="float-right ml-4 img-thumbnail" width="400" />
    }

    @Model.Product.Description

    <hr />
</p>

@*<partial name="_EventTimeStatus" model="@Model.Event" />*@

<div id="bid-app">
    <div v-if="event.isBiddingOpen">
        <div class="row">
            <div class="col-md-4">
                <h3>
                    {{ currentBidAmount | currency }}
                    <small>Current Bid</small>
                </h3>

                <form v-on:submit.prevent="submitBid()" class="form-inline mb-4">
                    @*<input type="hidden" name="ProductId" value="@Model.Product.Id" />*@

                    <div class="form-group">
                        <label for="bid-amount" class="sr-only">Bid Amount</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="text" id="bid-amount" name="Amount" class="form-control" v-model="nextBidAmount" :placeholder="nextBidMinAmount" />
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-primary">Place Bid</button>
                            </span>
                        </div>
                    </div>

                    <br />

                    <span class="text-muted">Bid must be <strong>{{ nextBidMinAmount | currency }}</strong> or greater.</span>
                </form>
            </div>
            <div class="col-md-8">
                <h3>Bid History</h3>

                <div class="alert alert-info" v-if="event.hideBidderNames && event.hideUserAdmin">
                    Bidder names are hidden to public and only visible to event admins.
                </div>

                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Time</th>
                            <th>Bidder</th>
                        </tr>
                    </thead>

                    <tr v-for="bid in bids">
                        <!-- TODO: format currency and date/time -->
                        <td>{{ bid.amount | currency }}</td>
                        <td>{{ bid.timestamp | date }}</td>
                        <td>
                            <template v-if="!event.hideBidderNames || event.canUserEdit">
                                {{ bid.userName }}
                            </template>
                            <template v-else>
                                <i>Bidder names private</i>
                            </template>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <partial name="_VueScripts" />
    <script>

        window.eventData = {
            id: @Model.Event.Id,
            hideBidderNames: @Model.Event.HideBidderNames.ToString().ToLower(),
            isUserAdmin: @Model.CanUserEdit.ToString().ToLower(),
            isBiddingOpen: @Model.Event.IsBiddingOpen.ToString().ToLower()
        };
        window.bids = {
            productId: @Model.Product.Id,
            currentBidAmount: @Model.Product.CurrentBidAmount,
            nextBidMinAmount: @Model.Product.NextMinBidAmount
        };
    </script>
    <script src="~/js/bid-app.js" asp-append-version="true"></script>
    
}