@model Bidster.Models.Products.EditProductViewModel

@{
    ViewBag.Title = $"{Model.EventName} - Edit Product";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-route-evtSlug="@Model.EventSlug" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="StartingPrice"></label>
                @if (!Model.HasBids)
                {
                    <input type="text" asp-for="StartingPrice" class="form-control" />
                }
                else
                {
                    <input type="text" asp-for="StartingPrice" class="form-control" readonly />
                }
            </div>
            <div class="form-group">
                <label asp-for="MinimumBidAmount"></label>
                @if (!Model.HasBids)
                {
                    <input type="text" asp-for="MinimumBidAmount" class="form-control" />
                }
                else
                {
                    <input type="text" asp-for="MinimumBidAmount" class="form-control" readonly />
                }
            </div>

            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <a href="@Model.ImageUrl" target="_blank">
                        <img src="@Model.ImageUrl" class="float-right img-thumbnail" width="150" />
                    </a>
                }

                <div class="custom-file">
                    <input type="file" asp-for="ImageFile" class="custom-file-input" />
                    <label asp-for="ImageFile" class="custom-file-label">Image</label>
                </div>

                <input type="hidden" asp-for="ImageUrl" />
            </div>

            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.ThumbnailUrl))
                {
                    <a href="@Model.ThumbnailUrl" target="_blank">
                        <img src="@Model.ThumbnailUrl" class="float-right img-thumbnail" width="150" />
                    </a>
                }

                <div class="custom-file">
                    <input type="file" asp-for="ThumbnailFile" class="custom-file-input" />
                    <label asp-for="ThumbnailFile" class="custom-file-label">Thumbnail / Small Image</label>
                </div>

                <input type="hidden" asp-for="ThumbnailUrl" />
            </div>

            <button type="submit" class="btn btn-primary">Save Product</button>
        </form>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
}