@model Bidster.Models.Home.HomeViewModel
@inject Bidster.Services.Tenants.ITenantContext TenantContext
@{
    var tenant = await TenantContext.GetCurrentTenantAsync();
}

@{
    ViewData["Title"] = "Welcome";
}

@section Jumbotron
{
    <div class="jumbotron">
        <div class="container">
            <h1>@Model.Settings?.Branding?.Title</h1>

            <h3>@Model.Settings?.Branding?.SubTitle</h3>
        </div>
    </div>
}

<p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
    in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
</p>

<hr />

@if (Model.UserBids.Any())
{
    <h3>My Bidding Activity</h3>

    <table class="table table-sm table-striped">
        <tr>
            <th>Item / Event</th>
            <th>Amount</th>
        </tr>
        @foreach(var bid in Model.UserBids)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Products" asp-route-evtSlug="@bid.EventSlug" asp-route-slug="@bid.ProductSlug">
                        @bid.ProductName
                    </a>
                    <br /><small>@bid.EventName</small>
                </td>
                <td class="@(bid.IsWinning ? "text-success" : "text-danger")">
                    @bid.CurrentBidAmount.ToString("c2")
                </td>
            </tr>
        }
        <caption>
            <ul class="list-inline">
                <li class="list-inline-item text-success">Winning</li>
                <li class="list-inline-item text-danger">Not winning</li>
            </ul>
        </caption>
    </table>
}

<h3>Current &amp; Upcoming Events</h3>

@if (Model.Events.Any())
{

    <div class="row products">
        @foreach (var evt in Model.Events)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a asp-action="Details" asp-controller="Events" asp-route-slug="@evt.Slug">
                        @*@if (!string.IsNullOrEmpty(evt.ThumbnailUrl))
                            {
                                <img class="card-img-top" width="100%" height="225" src="@evt.ThumbnailUrl" alt="@evt.Name" />
                            }
                            else
                            {
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%" /><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                            }*@
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%" /><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                    </a>
                    <div class="card-body">
                        <h5 class="card-heading">
                            <a asp-action="Details" asp-controller="Events" asp-route-slug="@evt.Slug">@evt.Name</a>
                        </h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>
                                @evt.StartOn.ToString("MMM d, h:mm tt") - @evt.EndOn.ToString("MMM d, yyyy, h:mm tt")
                            </span>
                            <div class="btn-group">
                                @*<button type="button" class="btn btn-sm btn-outline-secondary">View</button>*@
                                @*@if (Model.CanUserEdit)
                                    {
                                        <a asp-action="Edit" asp-controller="Products" asp-route-evtSlug="@Model.Event.Slug" asp-route-id="@evt.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    }*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-info">
        There are no current events to display.
    </div>
}