@model Bidster.Models.EventUsers.EventUserListViewModel
@{
    ViewBag.Title = $"{Model.Event.Name} Users";
}

<p>
    <a asp-action="Details" asp-controller="Events" asp-route-slug="@Model.Event.Slug" class="btn btn-link">&laquo; Back to event</a>
</p>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Add User</strong></div>
            <div class="panel-body">
                <form asp-action="Create" asp-route-evtSlug="@Model.Event.Slug" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group">
                        <label asp-for="NewUserEmail">Email address</label>
                        <input asp-for="NewUserEmail" class="form-control" />
                        <span asp-validation-for="NewUserEmail" class="text-danger"></span>
                    </div>
                    <div class="checkbox">
                        <label asp-for="NewUserIsAdmin">
                            <input asp-for="NewUserIsAdmin" />
                            Event Admin
                        </label>
                    </div>

                    <button id="btn-add-user" class="btn btn-primary">Add User</button>
                </form>

            </div>
        </div>
    </div>
</div>

@if (Model.Users.Any())
{
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Admin?</th>
                <th>Added</th>
                <th class="text-center">Remove</th>
            </tr>
        </thead>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.UserEmail</td>
                <td>@(user.IsAdmin ? "Yes" : "No")</td>
                <td>@user.CreatedOn.ToString("g")</td>
                <td class="text-center">
                    <a asp-action="Delete" asp-route-evtSlug="@Model.Event.Slug" asp-route-id="@user.Id" class="btn btn-link" onclick="return confirm('Are you sure you want to delete this user?');">
                        <span class="text-danger">Remove</span>
                    </a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-info">
        There are no users for this event yet.
    </div>
}